<script src="./pwa.ts"></script>
<div id="pwa-toast" role="alert" aria-labelledby="toast-message">
  <div class="message">
    <span id="toast-message">App ready to work offline</span>
  </div>
  <div class="button-group">
    <!-- <button id="pwa-refresh"> Reload </button> -->
    <button id="pwa-close"> Close </button>
  </div>
</div>

<style>
  #pwa-toast {
    visibility: hidden;
    position: fixed;
    background-color: white;
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 1;
    text-align: left;
    box-shadow: 0 2px 0.5rem 0 hsla(0, 0%, 0%, 0.2);
    width: min(20rem, calc(100% - (2 * 0.5rem)));
    z-index: 30;

    &.show {
      visibility: visible;
    }

    .message {
      margin-bottom: 8px;
      font-weight: 600;
    }
    button {
      border: 1px solid #8885;
      outline: none;
      margin-right: 5px;
      border-radius: 0.5rem;
      padding: 0.25rem 1rem;
      font-size: 0.875rem;
      &:active {
        background-color: hsl(0, 0%, 95%);
      }
    }
    .button-group {
      display: flex;
      gap: 0.25rem;
    }
    &.show.refresh {
      button#pwa-refresh {
        display: inline-block;
        background-color: hsl(5, 53%, 32%);
        color:white;
      }
      button#pwa-close {
        background-color:initial;
        color:initial;
      }
    }
    #pwa-close {
      background-color: hsl(5, 53%, 32%);
      color:white;
    }
  }
</style>
