---
import { pwaInfo } from "virtual:pwa-info";
import Footer from "../components/Footer.astro";
import ReloadPrompt from "../components/ReloadPrompt.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/carillon.jpg" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>Room TBA - Searching utility for finding rooms around UPLB</title>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />
    <hr />
    <Footer />
    <ReloadPrompt />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
  body {
    padding: 2rem;
    max-width: 64rem;
    margin-inline: auto;
  }

  @media only screen and (max-width:600px) {
    body {
      padding:1rem;
    }
  }
</style>
