---
import { pwaInfo } from "virtual:pwa-info";
import Footer from "../components/Footer.astro";
import ReloadPrompt from "../components/ReloadPrompt.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/carillon.jpg" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>Room TBA - Searching utility for finding rooms around UPLB</title>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
    <style is:global>
      button {
        all: unset;
      }
      button,
      a,
      input {
        outline: 2px solid transparent;
        outline-offset: 2px;

        &:focus-visible {
          outline-color: hsl(5, 53%, 32%);
        }
      }
    </style>
  </head>
  <body>
    <slot />
    <ReloadPrompt />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }

  @media only screen and (max-width: 600px) {
    .container {
      padding: 1rem;
    }
  }
</style>
