---
import { pwaInfo } from "virtual:pwa-info";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="/carillon.jpg" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>Room TBA - Searching utility for finding rooms around UPLB</title>
    <script src="/src/pwa.ts"></script>
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
